/* Ajustar el cuerpo del contenido para dispositivos pequeños */
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Encabezado */
header {
  padding: 1rem;
  text-align: center;
}

/* Tablas responsivas */
.table-wrapper {
  overflow-x: auto; /* Permite el desplazamiento horizontal en dispositivos pequeños */
  -webkit-overflow-scrolling: touch; /* Mejora la experiencia de desplazamiento en dispositivos táctiles */
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h2 {
    font-size: 1.5rem;
  }

  pre {
    font-size: 12px;
    padding: 0.5rem;
  }

  table {
    font-size: 12px;
  }

  table th, table td {
    padding: 6px; /* Reduce el espacio en celdas para dispositivos pequeños */
  }
}

/* Ajuste adicional para pantallas muy pequeñas (teléfonos) */
@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  pre {
    font-size: 10px;
    padding: 0.5rem;
  }

  table {
    font-size: 10px;
  }

  table th, table td {
    padding: 4px;
  }
}
